* {
  background-color: rgb(244, 221, 224);
  font-family: cursive;
}

h1 {
  background-color: aliceblue;
  font-weight: bold;
  font-size: 75px;
  text-decoration: underline;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
a {
  font-size: 20px;
  display: flex;
}
h2 {
  background-color: aliceblue;
}
table {
  border: 1px solid black;
  background-color: azure;
  padding: 0.5rem;
  width: 100%;
}

th {
  border: 1px solid black;
  background-color: gainsboro;
  padding: 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

td {
  border: 1px solid black;
  background-color: floralwhite;
  padding: 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

#storeTable {
  border: 1px solid black;
  padding: 0.5rem;
  width: 100;
  border-collapse: collapse;
}
fieldset {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
legend {
  background-color: rgb(243, 250, 145);
  text-decoration: underline;
  border: 1px;
}
label {
  background-color: aliceblue;
}

input {
  background-color: white;
}

button {
  font-weight: bold;
  background-color: rgb(243, 250, 145);
  justify-content: end;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
